.has-conventional-comments-buttons.comment-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.has-conventional-comments-buttons.comment-toolbar .toolbar-text {
  margin: 0;
}

.has-conventional-comments-buttons.comment-toolbar .uploading-container {
  float: none;
  margin-right: 0;
}

#conventionalCommentButtonContainer {
  display: flex;
  align-items: flex-end;
  margin-left: 0;
}

#conventionalCommentButtonContainer .buttonContainer {
  display: flex;
  flex-direction: row;
  height: 1.5rem;
  width: 1.5rem;
  overflow: hidden;
  transition: all 0.3s;
}

#conventionalCommentButtonContainer .buttonContainer.hasBlockingButton:hover {
  width: 3rem;
}

#conventionalCommentButtonContainer button {
  margin-right: 0;
  background: transparent;
  border: none;
  color: var(--gl-text-color-subtle);
  height: 1.5rem;
  width: 1.5rem;
  outline: 0;
  padding-block: 0.2rem;
  padding-inline: 0.2rem;
}

#conventionalCommentButtonContainer button svg {
  height: 1rem;
  width: 1rem;
}

#conventionalCommentButtonContainer button:hover,
#conventionalCommentButtonContainer button:focus {
  color: var(--gl-action-confirm-foreground-color-default);
  background: var(--gl-button-default-tertiary-background-color-focus);
}

#conventionalCommentButtonContainer button:focus {
  outline: none;
  box-shadow: 0 0 0 2px inset var(--gl-focus-ring-outer-color),
    0 0 0 3px inset var(--gl-focus-ring-inner-color);
}

#conventionalCommentButtonContainer button.blocking {
  color: var(--gl-action-danger-foreground-color-default);
}

#conventionalCommentButtonContainer button.blocking:hover,
#conventionalCommentButtonContainer button.blocking:focus {
  --gl-focus-ring-outer-color: var(--gl-action-danger-foreground-color-hover);
  color: var(--gl-action-danger-foreground-color-hover);
}
